name: CI

on:
  push:
    branches:
      - master
  pull_request:

jobs:
  format:
    name: Code linting
    runs-on: ubuntu-20.04

    steps:
      - uses: actions/checkout@v2

      - name: Set up Elixir environment
        uses: erlef/setup-beam@v1
        with:
          otp-version: 24
          elixir-version: 1.13

      - name: Check unused dependencies
        run: mix deps.get && mix deps.unlock --check-unused

      - name: Check formatting
        run: mix format --check-formatted

      - name: Check compilation warnings
        run: mix compile --warnings-as-errors

  test:
    name: Test suite
    runs-on: ubuntu-18.04

    strategy:
      matrix:
        versions:
          - otp: 18.3
            elixir: 1.4
          - otp: 24
            elixir: 1.13

    env:
      MIX_ENV: test

    steps:
      - uses: actions/checkout@v2

      - name: Set up Elixir environment
        uses: erlef/setup-beam@v1
        with:
          elixir-version: ${{ matrix.versions.elixir }}
          otp-version: ${{ matrix.versions.otp }}

      - name: Install dependencies
        run: mix deps.get --only test

      - name: Run tests
        run: mix test
